body {
	font-size: 16px;
	line-height: 24px;
	font-family: "Verdana", Arial, sans-serif;
	color: #000;
	font-weight: bold;

	background-color: #f1f1f1;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	/*color: inherit;*/
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

svg {
	path {
		fill: inherit;
	}
}