.about {
	@include container;

	padding-bottom: 57px;

	background-color: #fff;

	@media(min-width: $tablet-widths) {
		padding-bottom: 80px;
	}

	@media(min-width: $desktop-widths) {
		padding-bottom: 90px;
	}
}

.about__wrapper {
	@include inner-container;
}

.about__title {
	margin: 0;
	padding-top: 28px;

	font-size: 24px;
	line-height: 30px;

	@media(min-width: $tablet-widths) {
		padding-top: 50px;
		font-size: 40px;
		line-height: 50px;
	}

	@media(min-width: $desktop-widths) {
		padding-left: 175px;
		padding-top: 60px;
		font-size: 50px;
		line-height: 57px;
	}
}

.about__list {
	margin: 0;
	padding: 0;
	list-style-type: none;

	
	@media(min-width: $tablet-widths) {
		@include clearfix;
		font-size: 20px;
		line-height: 24px;
	}

	@media(min-width: $desktop-widths) {
		padding-left: 175px;
		padding-right: 175px;
	}
}

.about__item {
	padding-top: 84px;
	background-position: 0 33px;
	background-repeat: no-repeat;

	@media(min-width: $tablet-widths) {
		box-sizing: border-box;
		width: 50%;
		float: left;
		padding-top: 105px;
		padding-right: 80px;
		background-position: 0 55px;
		&:nth-child(2n) {
			padding-right: 0;
		}
	}
}

.about__item--ecology {
	background-image: url("../img/icon-feature-1.svg");
}

.about__item--price {
	background-image: url("../img/icon-feature-3.svg");
}

.about__item--likes {
	background-image: url("../img/icon-feature-5.svg");
}

.about__item--handmade {
	background-image: url("../img/icon-feature-2.svg");
}

.about__item--native {
	background-image: url("../img/icon-feature-4.svg");
}

.about__item--giftwrap {
	background-image: url("../img/icon-feature-6.svg");
}

