.about {
	@include container;

	padding-bottom: 57px;

	background-color: #fff;
}

.about__wrapper {
	@include inner-container;
}

.about__title {
	margin: 0;
	padding-top: 28px;

	font-size: 24px;
	line-height: 30px;
}

.about__list {
	margin: 0;
	padding: 0;

	list-style-type: none;

	font-size: 16px;
	line-height: 19px;
}

.about__item {
	padding-top: 84px;
	background-position: 0 33px;
	background-repeat: no-repeat;
}

.about__item--ecology {
	background-image: url("../img/icon-feature-1.svg");
}

.about__item--price {
	background-image: url("../img/icon-feature-2.svg");
}

.about__item--likes {
	background-image: url("../img/icon-feature-3.svg");
}

.about__item--handmade {
	background-image: url("../img/icon-feature-4.svg");
}

.about__item--native {
	background-image: url("../img/icon-feature-5.svg");
}

.about__item--giftwrap {
	background-image: url("../img/icon-feature-6.svg");
}

