.btn {
	display: block;
	width: 100%;

	padding: 15px 0;

	font-family: "Open Sans", Aria, sans-serif;
	font-size: 16px;
	line-height: 16px;
	color: #444;

	text-align: center;
	text-transform: uppercase;

	border: 2px solid #444;

	&:hover, &:focus {
		color: #fff;
		background-color: #444;
	}

	&:active {
		color: rgba(255, 255, 255, 0.3);
	}
}