.catalog {
	@include container;
	background-color: #fff;

	@media(min-width: $tablet-widths) {
		position: relative;
		margin-top: -60px;
	}
}

.catalog__title {
	margin: 0;
	padding-top: 77px;
	padding-bottom: 83px;
	font-size: 24px;
	line-height: 30px;

	background-color: #f4f4f4;
	text-align: center;

	@media(min-width: $tablet-widths) {
		padding-top: 95px;
		padding-bottom: 95px;

		font-size: 40px;
		line-height: 50px;

		background-image: url("../img/bg-zigzag-fill.svg");
		-webkit-background-size: auto 24px;
		background-size: auto 24px;
		background-repeat: repeat-x;
		background-position: center bottom;

		
	}

	@media(min-width: $desktop-widths) {
		padding-bottom: 120px;
		font-size: 50px;
		line-height: 57px;
		-webkit-background-size: auto 34px;
		background-size: auto 34px;
	}
}

.catalog__content-wrap {
	padding: 0 30px;
	background-color: #fff;

	@media(min-width: $tablet-widths) {
		padding: 0 50px;
	}
}

.catalog__list {
	@include reset-list;
	padding-top: 30px;
	border-bottom: 1px solid #fff;
	@media(min-width: $tablet-widths) {
		padding-top: 67px;
	}
	@media(min-width: $desktop-widths) {
		padding-bottom: 0;
		padding-top: 111px;
		display: flex;
		flex-wrap: wrap;
	}
}



.catalog__item {
	margin-bottom: 30px;
	@media(min-width: $desktop-widths) {
		display: flex;
		width: 30%;
		margin-right: 5%;
		&:nth-child(3n) {
			margin-right: 0;
		}
	}
}
