.main-categories {
	@include container;
	background-image: url("../img/hero-mobile@1x.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

.main-categories__header {
	@include inner-container;
	padding-top: 87px;
	padding-bottom: 124px;
	font-size: 24px;
	line-height: 30px;

	text-align: center;
}

.main-categories__list {
	margin: 0;
	padding: 0;
	list-style-type: none;

	font-family: Tahoma, Arial, sans-serif;
}

.main-categories__item {
	font-size: 18px;
	line-height: 24px;
	color: #fff;

	background-color: #63d1bb;

	a {
		@include inner-container;
		display: block;

		padding-top: 26px;
		padding-bottom: 26px; 

		color: inherit;

		&:hover, &:focus {
			margin-top: -5px;
			padding-bottom: 31px;
		}	
	}
}

.main-categories__item--interior {
	position: relative;
	background-color: #63d1bb;
	&:hover, &:focus {
		background-color: #59d5bc;
		svg {
			opacity: .7;
		}
	}

	a {
		&:active {
			opacity: .3;
		}
	}

	svg {
		position: absolute;
		top: 23px;
		right: 40px;
		width: 40px;
		height: 62px;
		opacity: .5;
	}
}

.main-categories__item--toys {
	position: relative;
	background-color: #56c3b2;
	&:hover, &:focus {
		background-color: #46c1ae;
		svg {
			opacity: .7;
		}
	}

	a {
		&:active {
			opacity: .3;
		}
	}

	svg {

		position: absolute;
		top: 23px;
		right: 30px;
		width: 60px;
		height: 60px;

		fill: #149080;
		opacity: .5;
	}
}