.main-nav {

	li {
		border-bottom: 1px solid #f1f1f1;
	}
}

.main-nav__toggle {
	position: absolute;
	top: 0;
	right: 30px;
	
	width: 22px;
	height: 22px;

	margin: 29px 0;
	padding: 0;

	font-size: 0;
	
	border: none;
	background-color: transparent;

	background-image: url("../img/icon-menu-close.svg");
	background-position: right;
	background-repeat: no-repeat;

	cursor: pointer;
}

.main-nav--closed {
	.main-nav__wrapper {
		display: none;
	}

	.main-nav__toggle{
		background-image: url("../img/icon-menu-open.svg");
	}
}

.main-nav__info-list {
	margin: 0;
	padding: 0;

	list-style-type: none;
}

.main-nav__info-item a,
.main-nav__functional-item a {
	@include inner-container;
	display: block;
	padding-left: calc(30px + 18%);
	padding-top: 28px;
	padding-bottom: 28px;

	color: #000;

	&:hover, &:focus {
		color: rgba(0, 0, 0, 0.6);
	}

	&:active {
		color: rgba(0, 0, 0, 0.3);
	}
}

.main-nav__functional-list {
	margin: 0;
	padding: 0;

	list-style-type: none;
}