.page-footer {
	@include container;
	background-color: #f4f4f4;
}

.page-footer__wrapper {
	@include inner-container;
}

.page-footer__social {
	border-bottom: 1px solid #e5e5e5;
	text-align: center;
}

.page-footer__copyright {
	margin: 0;
	margin-top: 28px;
	padding-bottom: 23px;
	font-size: 18px;
	line-height: 18px;
	text-align: center;
}

.page-footer__copyright-link {
	color: inherit;
	b {
		margin-right: 20px;
	}
	svg {
		vertical-align: middle;
		width: 30px;
		height: 36px;

		fill: #63d1bb;
	}

	&:hover, &:focus {
		svg {
			fill: #46c1ae;
		}
	}

	&:active {
		opacity: .3;
	}
}