.social-link {
	&:hover, &:focus {
		svg {
			fill: #46c1ae;
		}
	}

	&:active {
		svg {
			opacity: .3;
		}
	}
}

.social-link--instagram {
	svg {
		width: 22px;
		height: 22px;
	}
}

.social-link--facebook {
	svg {
		width: 15px;
		height: 28px;
	}
}

.social-link--twitter {
	svg {
		width: 22px;
		height: 22px;
	}
}